* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    background-color: #1b357e;
    display: flex;
    align-items: center;
    text-align: center;
}

header {
    display: inline-flex;
    align-items: center;
}

header ul li {
    color: #1351d8;
    margin: 200px;
}

.textfooter {
    color: white;
}

.imgfooter {
    width: 20px;
}

.logofooter {
    margin-left: 1620px;
}
.menu {
    list-style: none;
}

.menu ul li {
    display: inline;
}

main {
    display: flex;
    text-align: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botao_comparar {
    background-color: #1351d8;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.botao_enviar {
    background-color: #1351d8;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 20px;
}

.botao_enviar:hover {
    font-size: 20px;
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.carro_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

table {
    display: inline-flex;
    margin: 70px;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 2px solid #000;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #1351d8;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.formulario {
    align-items: center;
    margin-right: 200px;
}
