/* configs gerais */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* area do header, menu */
header {
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

header ul li {
    color: #1351d8;
}

.menu {
    list-style: none;
}

.menu ul {
    display: inline;
    text-align: center;
    margin-left: 500px;
}

.menu li {
    display: inline-flex;
    margin: 40px;
}

/* footer */

footer {
    width: 100%;
    height: 50px;
    background-color: #1b357e;
    display: flex;
    align-items: center;
    text-align: center;
}

.textfooter {
    color: white;
}

.imgfooter {
    width: 20px;
}

.logofooter {
    margin-left: 1620px;
}

/* main e conteudos do main */

main {
    display: flex;
    text-align: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botao_comparar {
    background-color: #1351d8;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
}

.botao_enviar {
    background-color: #1351d8;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 20px;
}

.botao_enviar:hover {
    font-size: 20px;
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.carro_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

table {
    display: inline-flex;
    margin: 70px;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 2px solid #000;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #1351d8;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container img {
    width: 450px;
    height: 270px;
}

.formulario {
    align-items: center;
    margin-right: 200px;
}

.inputcont {
    width: 300px;
    height: 50px;
}

/* texto */

p {
    font-size: small;
}

a {
    text-decoration: none;
}

h2 {
    text-align: left;
}