/* RESET GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* HEADER E MENU */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    flex-wrap: wrap;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.menu li a {
    color: #1351d8;
    font-weight: bold;
    text-decoration: none;   
}

.menu li a:hover {
    text-decoration: underline;
}

/* MAIN */
main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* IMAGENS */

.imagem-home img,
.imagem-contato img {
    max-width: 100%;
    height: auto;
    display: block;
}

.imagem-contato {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
}


/* FORMULÁRIO E DIVS LANÇAMENTO E CONTATO */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 40px;
    
}

.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.formulario {
    max-width: 400px;
    width: 100%;
}

.inputcont {
    width: 100%;
    height: 50px;
    padding: 8px;
    margin-bottom: 15px;
    resize: none;
}

.inputcont:focus {
    outline: 2px solid #1351d8;
}

/* TABELAS */
.tabelas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 300px;
    max-width: 100%;
    text-align: center;
}

table img {
    max-width: 100%;
    height: auto;
}

table img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
/* BOTÕES */
.botao_enviar {
    background-color: #1351d8;
    color: white;
    width: 100%;
    max-width: 500px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.botao_comparar {
    background-color: #1351d8;
    color: white;
    width: 100%;
    max-width: 170px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.botao_enviar:hover {
    color: #ccc;
    transform: scale(1.05);
    transition: 0.2s;
}

.botao_comparar:hover {
    color: #ccc;
    transform: scale(1.05);
    transition: 0.2s;
}

.botao_comparar:focus {
    outline: 2px solid #1b357e;
}

.botao_enviar:focus {
    outline: 2px solid #1b357e;
}
/* FOOTER */
footer {
    width: 100%;
    background-color: #1b357e;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.footercontatos {
    color: white;
    display: flex;
    align-items: center;
}

.footercontatos p {
    margin-right: 10px;
}

.copyright {
    flex: 1;
    min-width: 200px;
    color: white;
    text-align: center;
}

.imgfooter {
    width: 60%;
}

.imgfooter:hover {
    transform: scale(1.20);
    transition: 0.3s;
}

.logofooter {
    max-width: 100%;
}

/* CHECKBOX */
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    appearance: none;
    cursor: pointer;
    background-color: #fff;
}

input[type="checkbox"]:checked {
    background-color: #1351d8;
}

input[type="checkbox"]:hover {
    background-color: #1351d8;
    transition: 0.3s;
}


/* RESPONSIVIDADE */
@media (max-width: 768px) {
    
    header, .menu ul, .tabelas, .conteudo {
        flex-direction: column;
        align-items: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }
    
    .menu {
        justify-content: center;
    }

    .formulario {
        margin-right: 0;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .copyright, .footercontatos, .logofooter {
        flex: none;
        min-width: auto;
        margin-bottom: 5px;
    }

    iframe {
        width: 100%;
        height: 300px;
    }

    
}
